<div class="container-home">

  <div class="soon">
    <div class="soon-online">
      <h1>Bientôt en ligne</h1>
      <h2>Site en construction</h2>
    </div>
    <div class="logo">
      <%= image_tag 'logo-blanc.png', class: "white-logo", alt: "logo Donnetik" %>
    </div>
    <div class="services">
      <div class="list-exter">
        <div class="list-inter">
          <h2>Conseil</h2>
          <h2>Accompagnement</h2>
          <h2 class="rgpd">RGPD</h2>
        </div>
      </div>
    </div>
    <div class="presentation">
      <p><span class="bold">Donnétik</span> aide les différentes structures (entreprises, associations, secteur public,...) à développer la <span class="bold">confiance</span> de leurs clients et partenaires en les accompagnant dans les démarches de mise en conformité au <span class="bold">RGPD</span>.</p>
    </div>
  </div>


  <div class="contact">
    <div class="take-contact">
      <h2>Prendre contact</h2>
      <div class="face">
        <%= image_tag 'Matthias.png', class: "face", alt: "Matthias KARNAY" %>
      </div>
      <div class="name">
        <h2 class="name">Matthias Karnay</h2>
        <h2>Consultant <span class="blue">RGPD</span></h2>
      </div>
      <div class="contacts">
        <ul>
          <li><i class="fas fa-envelope"></i>contact@donnetik.fr</li>
          <li><i class="fas fa-mobile-alt"></i>06 37 06 02 74</li>
        </ul>
      </div>
      <div class="social">
        <ul>
          <li class="linkedin"><a href="https://twitter.com/MatthiasKarnay?s=07" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li class="twitter"><a href="https://www.linkedin.com/in/matthiaskarnay/" target="blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="logo">
      <%= image_tag 'Logo-grand-noir.png', class: "black-logo", alt: "logo Donnetik" %>
    </div>
  </div>
</div>
