.container-home {
  display: flex;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';

  .soon {
    background-image: image_url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    padding: 85px 0 85px 0;
    width: 70vw;
    height: 100vh;

    .soon-online {
      width: 40vw;
      margin: 0 auto;

      h1 {
        font-size: 80px;
        color: white;
        font-family: 'Big Shoulders Inline Text';
      }

      h2 {
        font-size: 35px;
        color: white;
        font-family: 'Montserrat'
      }
    }

    .logo {
      margin: 50px 0 50px 0;

      img.white-logo {
        width: 35%
      }
    }

    .services {
      margin-bottom: 35px;
      width: 14vw;
      margin: 0 auto;

      .list-exter {
        width: 100%;

        .list-inter {
          border-left: 4px solid #F4BC45;
          padding: 8px 0 8px 15px;
          text-align: left;

          h2 {
            color: white;
            font-size: 25px;
            font-weight: bold;
          }

          h2.rgpd {
            color: #5EBDB0;
            font-size: 25px;
            font-weight: bold;
          }
        }
      }
    }

    .presentation {
      width: 40vw;
      margin: 0 auto;
      margin-top: 50px;

      p {
        color: white;
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: 200;

        span.bold {
          font-weight: bold;
        }
      }
    }
  }

  .contact {
    padding: 220px 0 220px 0;
    height: 100vh;
    margin: 0 auto;
    vertical-align: middle;

    .take-contact {
      h2 {
        font-size: 40px;
        font-family: 'Big Shoulders Inline Text';
      }

      .face {
        padding: 15px 0 15px 0;

        img {
          width: 40%;
        }
      }

      .name {
        h2.name {
          font-weight: bold;
          font-family: 'Montserrat';
        }

        h2 {
          font-size: 25px;
          font-family: 'Montserrat';
          font-weight: 200;

          span.blue {
            color: #5EBDB0;
            font-weight: bold;
          }
        }
      }

      .contacts {
        padding-top: 15px;

        ul {
          list-style: none;
          text-align: left;

          li {
            margin-right: 15px;
            font-family: 'Montserrat';
            font-weight: 200;

            i {
              margin-right: 20px;
            }
          }
        }
      }

      .social {
        ul {
          list-style: none;
          padding-top: 30px;

          li.linkedin {
            display: inline;
            margin-right: 15px;
            padding: 10px 12px;
            border-radius: 100px;
            background-color: #F4BC45;

            a {
              color: black;
            }
          }

          li.twitter {
            display: inline;
            margin-left: 15px;
            padding: 10px 12px;
            border-radius: 100px;
            background-color: #5EBDB0;

            a {
              color: black;
            }
          }
        }
      }
    }

    .logo {
      position: absolute;
      bottom: 40px;

      img {
        width: 40%;
      }
    }
  }
}
